body {
    background-color: #F5F5F5;
}

#box {
    width: 7.5rem;
    height: 10rem;
    overflow: hidden;
    position: relative;
}

#roll {
    width: 7.5rem;
    height: auto;
    margin-bottom: 0.98rem;
    overflow: hidden;
}

/* 头部 */
#header {
    width: 100%;
    height: 0.88rem;
    border-bottom: 0.01rem solid #EDEDED;
    box-sizing: border-box;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
}

.hea_w {
    width: 7.5rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 0.44rem;
}

.hea_w .cuo .iconfont {
    font-size: 0.36rem;
    display: block;
    color: #000000;
    float: left;
    padding: 0.29rem 0 0 0.24rem;
}

.hea_w .title {
    width: 0.92rem;
    height: 0.3rem;
    line-height: 0.88rem;
    font-size: 0.36rem;
    letter-spacing: 0.11rem;
    font-family: 'GillSansMT-ExtraCondensedBold';
}

.hea_w .title span {
    color: #ffcb3f;
}

.hea_w .set {
    width: 0.36rem;
    height: 0.08rem;
    float: right;
    margin-right: 0.23rem;
    display: block;
    padding-top: 0.4rem;
}

.hea_w .set .itm {
    width: 0.08rem;
    height: 0.08rem;
    float: left;
    background: #000000;
    border-radius: 50%;
}

.hea_w .set .itm:nth-child(2) {
    margin: 0 0.06rem;
}

/* 评价 */
.pinjia {
    width: 7.5rem;
    height: 0.78rem;
    border-top: 0.02rem solid #eeeeee;
    margin-top: 0.88rem;
}

.pinjia p {
    text-align: center;
    font-size: 0.28rem;
    color: #000000;
    line-height: 0.78rem;
    background-color: #fff;

}

.iconzuo {
    width: 0.15rem;
    height: 0.24rem;
    line-height: 0.78rem;
    position: absolute;
    left: 0.24rem;
}

/* 今日 */
.jin {

    height: 0.88rem;
    padding-left: 0.24rem;
    display: flex;
    align-items: center;

}

.jin p {
    font-size: 0.26rem;
    color: #666666;
    margin-left: 0.1rem;
    line-height: 0.88rem;

}

.jin .son {
    width: 0.04rem;
    height: 0.26rem;
    background-color: #ffcf52;
}

/* 沙发 */
.shafa {
    width: 7.02rem;
    height: 2.76rem;
    margin: auto;
    background-color: #fff;
    border-top: 0.02rem solid #f5f5f5;
    padding: 0 0.18rem;
    box-sizing: border-box;
    display: flex;
    margin-top: 0.3rem;
}

.sa {
    margin-top: 0;
}

.ss {
    margin-bottom: 0.28rem;

}

.shafa img {
    width: 1.87rem;
    height: 1.34rem;
    margin-top: 0.46rem;
}

.shafa .box {
    width: 7rem;
    height: 1.34rem;
    margin-top: 0.46rem;
    margin-left: 0.1rem;
    box-sizing: border-box;
    position: relative;

}

#pp {
    font-size: 0.24rem;
    position: absolute;
    bottom: -0.76rem;
    right: 0.2rem;

    color: #999999;
}

.box .bujia {
    color: #000000;
    font-size: 0.18rem;
    opacity: 0.8;
}

.box .jia {
    font-size: 0.24rem;
}

.shafa .box p {
    font-size: 0.18rem;
    margin-bottom: 0.37rem;
    color: #000000;
    opacity: 0.7;

}

.shafa {
    border-radius: 0.1rem;
}

.small {
    display: flex;
    justify-content: space-between;
    font-size: 0.22rem;
    border: #999999;
    width: 2rem;
    opacity: 0.7;
}

.small .span1 {
    font-weight: bold;
    color: #000000;
}

.shafa .left {
    width: 1.4rem;
    height: auto;
    float: right;
    padding-top: 0.4rem;



}

.shafa .left .aa {
    width: 2rem;
    float: right;
    line-height: 0.6rem;
}

.shafa .left span {
    color: #000000;

    font-size: 0.18rem;
    float: right;
}

.shafa .left .rmb {
    font-weight: bold;
    font-size: 0.24rem;

    line-height: 0.57rem;




}

.shafa .left p {
    font-size: 0.24rem;
    color: #ffcb3f;
    line-height: 0.44rem;
    border-radius: 4px;
    border: solid 1px #ffcb3f;
    text-align: center;
    float: right;
}

.shafa .left .wu {
    font-size: 0.24rem;
    font-weight: bold;
    padding-left: 0.28rem;
    line-height: 0.8rem;
}

/* <!-- tap栏 --> */
.footer {
    width: 7.5rem;
    height: 0.98rem;
    padding: 0 0.24rem;
    border-top: 0.01rem solid #C2C2C2;
    background: #FAFAFA;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.footer .box {
    height: 0.98rem;
    width: 1.3rem;
}

.footer .box a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .box i {
    font-size: 0.4rem;
    color: #040404;
}

.footer .box .text {
    font-size: 0.2rem;
    color: #040404;
}

.zuihou {
    width: 7.5rem;
    height: 0.98rem;
}