body{
    background:#FCFCFC;
}
#header{
    width: 100%;
    height: 0.88rem;
    border-bottom:0.01rem solid #EDEDED;
    box-sizing:border-box;
    background-color:#FFFFFF;
    position:fixed;
    top:0;
    left:0;
}
.hea_w{
    width: 7.5rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 0.44rem;
}
.hea_w .cuo .iconfont{
    font-size: 0.36rem;
    display: block;
    color: #000000;
    float: left;
    padding: 0.29rem 0 0 0.24rem;
}
.hea_w .title{
    width: 0.92rem;
    height: 0.3rem;
    line-height:0.88rem;
    font-size: 0.36rem;
    letter-spacing: 0.11rem;
    font-family: 'GillSansMT-ExtraCondensedBold';
}
.hea_w .title span{
    color: #ffcb3f;
}
.hea_w .set{
    width: 0.36rem;
    height: 0.08rem;
    float: right;
    margin-right: 0.23rem;
    display: block;
    padding-top: 0.4rem;
}
.hea_w .set .itm{
    width: 0.08rem;
    height: 0.08rem;
    float: left;
    background: #000000;
    border-radius: 50%;
}
.hea_w .set .itm:nth-child(2){
    margin:0 0.06rem;
}
/* 导航栏结束 */
.shopcar{
    margin-top:0.88rem;
    width:7.5rem;
    height:6.99rem;
    box-sizing:border-box;
    background: #ffffff;
    position: relative;
}
.shopcar .yellow{
    width:0.47rem;
    height:0.02rem;
    background:#ffcb3f;
    position: absolute;
    top:2.329rem;
    left:0.24rem;
}
.shopcar .car{
    width: 7.02rem;
    height:2.33rem;
    margin:0 auto;
    border-top:0.01rem  solid  #F2F2F2;
    position:relative;
}
.shopcar .car .car2{
    display:block;
    width:0.23rem;
    height:0.23rem;
    border-radius:50%;
    border:0.02rem solid #FFCB3F;
    background:#fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0.18rem;
    margin:auto;
}
.shopcar .car .car3{
    width:0.13rem;
    height:0.13rem;
    background:#FFCB3F;
    border-radius:50%;
    margin:0.05rem 0.05rem;
}
.shopcar .car .picture{
    width:1.99rem;
    height:1.4rem;
    margin:0.46rem 0 0 0.61rem;
    float:left;
}
.shopcar .car .picture img{
    width:100%;
    height:100%;
}
.shopcar .car .font{
    width:1.99rem;
    height:1.4rem;
    margin:0.46rem 0 0 0.18rem;
    float:left;
    line-height:0.18rem;
}
.shopcar .car .font .font2{
    font-size:0.12rem;
    margin-top:0.1rem;
    color:#545454;
    letter-spacing: -0.02rem;
}
.shopcar .car .font .font3{
    font-size: 0.24rem;
    color:#000;
    margin-top:0.09rem;
}
.shopcar .car .font h6{
    font-size: 0.12rem;
    color:#545454;
    margin-top:0.13rem;
}
.shopcar .car .font4{
    font-size:0.24rem;
    font-weight:bold;
    color:#000;
    margin-top:0.19rem;
}
.shopcar .car .font4 .fontsamll{
    font-size:0.12rem;
    color:#000;
}
.shopcar .car .button{
    width:1.65rem;
    height:0.38rem;
    position:absolute;
    top:0;
    bottom:0;
    right:0.14rem;
    margin:auto;
    line-height:0.38rem;
    font-size:0.38rem;
    display:flex;
    justify-content:space-between;
}
/* 推荐商品开始 */
.tuijian{
    width: 7.02rem;
    height:0.3rem;
    margin:0 auto;
}
.tuijian span{
    width:0.03rem;
    height:0.21rem;
    background:#ffcb3f;
    border-radius:0.3rem;
    margin-top:0.1rem;
    float:left;
}
.tuijian p{
    float:left;
    font-size:0.3rem;
    margin-left:0.1rem;
}
.Bigbox{
    width:7.5rem;
    height:10.41rem;
    padding:0 0.24rem;
    box-sizing:border-box;
    margin-top:0.29rem;
    margin-bottom:1.96rem;
}
.Bigbox ul{
    width:6.78rem;
    height:10.41rem;
    margin:0 auto;
    display:flex;  
    justify-content:space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.Bigbox ul .box{
    width:3.24rem;
    height:5.08rem;
    float:left;
    background:#fff;
}
.Bigbox ul .box .top{
    width:100%;
    height:3.06rem;
}
.Bigbox ul .box .top img{
    width:100%;
    height:100%;
}
.Bigbox ul .box .center{
    width:100%;
    height:auto;
    margin-top:0.18rem;
    padding-left:0.22rem;
    box-sizing:border-box;
}
.Bigbox ul .box .center .one{
    width:0.32rem;
    height:0.03rem;
    background:#000;
    margin-bottom:0.1rem;
    
}
.Bigbox ul .box .center .logo{
    font-size:0.14rem;
}
.Bigbox ul .box .center .two{
    font-size:0.24rem;
}

.Bigbox ul .box .bottom{
    width:100%;
    height:0.94rem;
    padding:0 0.18rem 0 0.22rem;
    box-sizing:border-box;
    line-height:0.94rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.Bigbox ul .box .bottom a{
    display:block;
    width:1.53rem;
    height:0.44rem;
    background:#FFCB3F;
    border-radius: 0.04rem;
    line-height:0.44rem;
    color:#fff;  
    text-align: center;
}
.Bigbox ul .box .bottom  i{
    font-size:0.12rem;
}
.Bigbox ul .box .bottom .mai{
    font-size:0.12rem;
    font-weight:bold;
    
}
/* 推荐商品结束 */
/* 去结算开始 */
.balance{
    width:7.5rem;
    height:0.9rem;
    border-top:0.01rem solid #e5e5e5;
    position:fixed;
    bottom:0.98rem;
    left:0;
    background-color:#fff;
}
.balance .balance2{
    width:7.08rem;
    height:100%;
    margin-left:0.42rem;
    display: flex;
    justify-content:space-between;
}
.balance .balance2 .left{
    width:3.16rem;
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.balance .balance2 .left button{
    width:0.23rem;
    height:0.23rem;
    border:0.01rem solid #ffcb3f;
    background:#fff;
    border-radius: 50%;
    outline:none;
}
.balance .balance2 .left .amountto{
    width:auto;
    height:0.5rem;
}
.balance .balance2 .right{
    display: block;
    width:2.12rem;
    height:100%;
    background:#ffcb3f;
    box-shadow: -0.3px 2px 6.9px 0.1px 
		rgba(224, 163, 0, 0.45);
    border-radius: 4px;
    text-align: center;
    line-height:0.9rem;
    color:#fff;
    font-size:0.28rem;
}
/* 去结算结束 */
/* tab栏开始 */
.footer{
    width:7.5rem;
    height:0.98rem;
    padding:0 0.24rem;
    border-top:0.01rem solid #C2C2C2;
    background:#FAFAFA;
    box-sizing: border-box;
    position: fixed;
    bottom:0;
    left:0;
    display:flex;
    justify-content:space-between;
}
.footer .box{
    height:0.98rem;
    width:1.3rem;
}
.footer .box a{
    display:block;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.footer .box i{
    font-size:0.4rem;
    color:#040404; 
}
.footer .box .text{
    font-size:0.2rem;
    color:#040404; 
}

